
 
block content
  if(links)
    h1 #{title} #{user}
    a(href="/") HOME
  else if(tipos)
    h1 #{title} #{photo}
    a(href="/") HOME
  else
    h1= title
    p Welcome to #{title}
  table
    thead
      tr
        if(links)
            th Links
            th Image
        else if(tipos)
            th Tipo
            th Posibilitat
        else
            th Nombre
        //th Edad
    tbody
     //- 
        if(links)
            tr
            td=usuario.nickname
            td=usuario.link

    if(links)
        for link in links
            tr
            td
                a(href="/?photo="+link.id)= link.link
            td 
                a(href="/?photo="+link.id)
                    img(src=link.link)
    else if(tipos)
        for tipo in tipos
            tr
            td=tipo.type
            td=tipo.posible
    else
        for usuario in usuarios
            tr
            td
                a(href="/?name="+usuario)= usuario
        //td=usuario.edad
