style.
    h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    }

    body {
        text-align: center;
    }

    table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto; 
    }

    table, th, td {
        border: 1px solid black;
    }
 
block content
  link(rel='stylehseet', link='/static/main.css')
  title Crawler HackEPS
  if(links)
    h1 #{title} #{user}
    a(href="/") HOME
  else if(tipos)
    h1 #{title} #{photo}
    a(href="/") HOME
  else if(search)
    h1 #{title} #{type}
    a(href="/") HOME
  else
    h1= title
    p Welcome to #{title}
  table
    thead
      tr
        if(links)
            th Links
            th Image
        else if(tipos)
            th Tipo
            th Posibilitat
        else if(search)
            th Link_ID
            th Posibilitat
        else
            th Nombre

    tbody

    if(links)
        for link in links
            tr
            td
                a(href="/?photo="+link.id)= link.link
            td 
                a(href="/?photo="+link.id)
                    img(src=link.link)
    else if(tipos)
        for tipo in tipos
            tr
            td=tipo.type
            td=tipo.posible
    else if(search)
        for item in search
            tr
            td
                a(href="/?photo="+item.link_id)= item.link_id
            td=item.posible
    else
        for usuario in usuarios
            tr
            td
                a(href="/?name="+usuario)= usuario


h2 Buscador:        
div
    form(name='formulari', action='/buscar',method='post')
        div.input
            span.label Tipo:
            input(type="text", name="tipo",value='',placeholder='#')
        div.actions 
            input(type='submit',value='Buscar !',data-transition='fade')  