
 
block content
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th Nombre
        //th Edad
    tbody
      
    if(links)
        tr
        td=usuario.nickname
        td=usuario.link


    for usuario in usuarios
        tr
        td
            a(href="/?name="+usuario)= usuario
        //td=usuario.edad
