
 
block content
  if(links)
    h1 #{title} #{user}
    a(href="/") HOME
  else
    h1= title
    p Welcome to #{title}
  table
    thead
      tr
        if(links)
            th Links
            th Image
        else
            th Nombre
        //th Edad
    tbody
     //- 
        if(links)
            tr
            td=usuario.nickname
            td=usuario.link

    if(links)
        for link in links
            tr
            td=link
            td 
                img(src=link)
            
    else
        for usuario in usuarios
            tr
            td
                a(href="/?name="+usuario)= usuario
        //td=usuario.edad
